version: '2'
services:
  backend:
    build: 
      context: .
      dockerfile: ./Dockerfile
    container_name: smart-checkout
    ports:
      - "8080:8080"
    restart: always
    volumes:
      - .:/usr/app/
      - /usr/app/node_modules
    command: 
      - npm
      - start
      